.template {
	margin: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: flex-end;

	.preview {
		position: sticky;
		top: 0;
		z-index: 1;
		height: fit-content;

		img {
			max-width: 750px;
			width: 100%;
		}

		a {
			display: block;
			word-break: break-all;
		}
	}

	#elements {
		border-collapse: collapse;
		display: block;
		overflow: scroll;

		@media only screen and (min-width: 780px) {
			margin-right: 1rem;
		}

		@media only screen and (max-width: 780px) {
			width: 100%;
			th.text {
				width: 100%;
			}
		}

		th {
			text-align: left;
			font-size: 1.2rem;

			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #04aa6d;
			color: white;

			&.radius {
				min-width: 150px;
			}
		}

		td,
		th {
			border: 1px solid #ddd;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		tr:hover {
			background-color: #ddd;
		}

		.element {
			margin: 1rem 0.5rem;

			.name {
				font-size: 1rem;
				font-weight: 700;
			}

			.field {
				.MuiInputLabel-root {
					font-size: 16px;
					font-weight: 700;
					color: black;
					input {
						font-size: 11px;
					}
					label:not(.MuiInputLabel-shrink) {
						transform: translate(14px, 10px);
					}
				}
				.MuiInputLabel-shrink {
					transform: none;
				}

				&.color {
					.color-picker {
						display: flex;
						flex-direction: column;

						.MuiIconButton-root {
							padding: 5px;
						}
						input {
							-webkit-appearance: none;
							border: none;
							width: 32px;
							height: 32px;
							padding: 0;

							&::-webkit-color-swatch-wrapper {
								padding: 0;
							}
							&::-webkit-color-swatch {
								border: none;
							}
						}
					}
				}
			}
		}
	}
}
